@viewport { width: device-width; }
$colorBg: #2A2B3C;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;

$widthMouse: 45px;
$heightMouse: 72px;
$borderMouse: 4px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
  background:
    $colorOutlineFade
    linear-gradient(
      transparent 0%,
      transparent 50%,
      $colorOutline 50%,
      $colorOutline 100%
    );
}


/*Font style*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$monserrat: 'Monserrat', sans-serif;
/*End Font style*/


html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after { box-sizing: inherit; }
}

.clear{
  clear: both;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $monserrat;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  background-color: $colorBg;
  padding: 50px;
}

a {
  background: transparent;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;

  &:hover,&:focus{
    text-decoration: none
  }
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $monserrat;
  font-weight: normal;
}

.long-box{
  background: #313347;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;

  .first-long-box{
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    .first-long-box-inner{
      p{
        font-weight: 500;
        font-size: 30px;
        color: #61C29A;
        letter-spacing: 1.5px;
        margin-bottom: 0;
      }

      span{
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 1px;
      }
    }

    .chart{
      position: relative;
      top: 15px;
    }

    &:last-child{
      border: none;
      padding-top: 10px;
    }
  }
}

.small-box{
  background: #313347;
  padding: 20px;
  border-radius: 4px;
  float: left;
  margin-bottom: 40px;

  span{
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
  }

  p{
    font-size: 40px;
    color: #61C29A;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .red{
    color: #F68E8E;
  }

  .yellow{
    color: #F6E4AE;
  }

  .blue{
    color: #8ED2F6;
  }

  .purple{
    color: #9361C2;
  }

  .blue-old{
    color: #56A1EF;
  }
}


.graph-box{
  background: #313347;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;

  p{
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.9px;
    margin-bottom: 0;
  }

  span{
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 0.68px;
  }

  .pie-wrap{
    margin-top: 8px;
  }
}


.target-box{
  background: #313347;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;

  .form-group{
    margin-bottom: 0;
  }

  p{
    font-size: 20px;
    color: #61C29A;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  span{
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.9px;
  }
}


.target-tab{
  .nav-tabs{
    border-bottom: none;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;

    li{
      a{
        padding: 7px 10px;
        border: none;
        font-size: 12px;
        color: #fff;
        background: #2A2B3C;
        letter-spacing: 0.9px;
        border-radius: 0;
        margin-right: 0;
      }
    }

    li a:hover,
    li.active > a,
    li.active > a:hover,
    li.active > a:focus{
      background: #4A4B62;
      font-size: 12px;
      color: #FFFFFF;
      border-radius: 0px;
      letter-spacing: 0.9px;
      border: none;
      padding: 7px 10px;
    }
  }
}
