<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Masskredit</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/utilities/datepicker.css"
          th:href="@{/css/utilities/datepicker.css}">
    <link type="text/css" rel="stylesheet" href="https://pubnub.github.io/eon/v/eon/1.0.0/eon.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="long-box">
                        <div class="first-long-box">
                            <div class="first-long-box-inner pull-left">
                                <p>15.000.000</p>
                                <span>Pendapatan Penjualan</span>
                            </div>
                            <div class="chart pull-right">
                                <img src="../static/images/chart.png" th:src="@{/images/chart.png}"
                                     class="img-responsive">
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="first-long-box">
                            <div class="first-long-box-inner pull-left">
                                <p>15.000.000</p>
                                <span>Pendapatan Penjualan</span>
                            </div>
                            <div class="chart pull-right">
                                <img src="../static/images/chart.png" th:src="@{/images/chart.png}"
                                     class="img-responsive">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="small-box">
                        <span>Submission Approve</span>
                        <p class="dataApproved"></p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="small-box pull-right">
                        <span>Submission Reject</span>
                        <p class="red dataReject"></p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="small-box">
                        <span>Penjualan Yang Sedang <br/>Disurvey</span>
                        <p class="yellow">9.546</p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="small-box pull-right">
                        <span>Submission <br/>Purchase Confirmed</span>
                        <p class="blue dataConfirmed"></p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="small-box">
                        <span>Penjualan Yang Dibatalkan</span>
                        <p>9.546</p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="small-box pull-right">
                        <span>Submission Error<br/>Error</span>
                        <p class="red">9.546</p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="graph-box">
                        <p>AVERAGE TIME</p>
                        <span>average time dari input pertama kali sampai dengan finished status.</span>
                        <div class="pie-wrap text-center">
                            <img src="../static/images/pie.png" th:src="@{/images/pie.png}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="small-box">
                        <span>Backlog<br/><br/></span>
                        <p class="purple">9.546</p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="small-box pull-right">
                        <span>Submission <br/>Finishs</span>
                        <p class="blue-old dataFinished"></p>
                        <img src="../static/images/chart.png" th:src="@{/images/chart.png}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="target-box">
                        <p>18.000.000</p>
                        <span>Target By Manual Entry</span>

                        <div class="target-tab">

                            <div class="text-center">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#month" aria-controls="month"
                                                                              role="tab" data-toggle="tab">Month</a>
                                    </li>
                                    <li role="presentation"><a href="#day" aria-controls="day" role="tab"
                                                               data-toggle="tab">Day</a></li>
                                </ul>
                            </div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="month">
                                    <!-- <img src="../static/images/graph.png" th:src="@{/images/graph.png}"
                                          class="img-responsive">-->
                                    <div id="chart"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="day">
                                    <img src="../static/images/graph.png" th:src="@{/images/graph.png}"
                                         class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="target-box">
                        <div style="overflow:hidden;">
                            <div class="form-group">
                                <div id="datetimepicker12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.4.2.js"></script>
<script type="text/javascript" src="https://pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>
<script src="../static/js/moment.js" th:src="@{/js/moment.js}"></script>
<script src="../static/js/datepicker.js" th:src="@{/js/datepicker.js}"></script>

<script th:inline="javascript">

    /*<![CDATA[*/
    var publishKey = [[${publishKey}]];
    var subscribeKey = [[${subscribeKey}]];

    console.log(publishKey,subscribeKey);

    $(function () {
        var dataApproved = $('.dataApproved'); // Input message input box
        var dataReject = $('.dataReject'); // Input message input box
        var dataConfirmed = $('.dataConfirmed'); // Input message input box
        var dataCanceled = $('.dataCanceled'); // Input message input box
        var dataFinished = $('.dataFinished'); // Input message input box
        var dataDisburstment = $('.dataDisburstment'); // Input message input box
        var countBank = $('.countBank'); // Input message input box


        var pubnub = new PubNub({
            publishKey: atob(publishKey),
            subscribeKey: atob(subscribeKey)
        });

        console.log("Subscribing..");

        var publishConfig = {
            channel: "init_dashboard",
            message: {
                title: "request data"
            }
        };
        pubnub.publish(publishConfig, function (status, response) {
            // console.log(status, response, publishConfig);
        });

        //listen data on startup
        pubnub.addListener({
            message: function (data) {
                var obj = JSON.parse(data.message);
                dataReject.text(obj.countSubsReject);
                dataApproved.text(obj.countSubsApproved);
                dataConfirmed.text(obj.countSubsPurchaseConfirmed);
                dataFinished.text(obj.countSubsFinish);
                dataDisburstment.text(obj.countDisCompleted);

                console.log(obj);
            }
        });
        pubnub.subscribe({
            channels: ['init_dashboard_startup', 'count_subs_status'],
            message: function (m) {
                data = m;
                console.log(data)
            }
        });
//==============================\\

        /*pubnub.addListener({
                message:function(data){
                console.log(data);

                }
            });

            pubnub.subscribe({
                channels: ['bank'],
                callback: function(t){
                 var dt = JSON.parse(t);
                console.log(dt);
                },
                error:function(e){
                console.log(e);
                }
            });
        */
        eon.chart({
            pubnub: pubnub,
            channels: ['init_dashboard_startup'],

            generate: {
                bindto: '#chart',
                x_type: 'custom',
                x_id: 'x',
                data: {
                    labels: true,
                    type: 'bar'
                },
                bar: {
                    width: {
                        ratio: 1
                    }
                },
                /* color: {
                     pattern: ['#7AC143', '#FDBB30', '#EC008C', '#EE3124', '#F100630']

                 },*/
                tooltip: {
                    show: true
                }
            }, transform: function (m) {
                var obj = JSON.parse(m);
                //console.log(obj.countSubsApproved);
                return {
                    eon: {
                        'Reject': obj.countSubsReject,
                        'Approved': obj.countSubsApproved,
                        'Purchase': obj.countSubsPurchaseConfirmed,
                        'Finish': obj.countSubsFinish,
                        'Disburst': obj.countDisCompleted
                    }

                }
            }
        });

        $('#datetimepicker12').datetimepicker({
            inline: true,
            sideBySide: false
        });

    });

    /*]]>*/

</script>
</body>
</html>
